<div class="parallax">
  <div class="overlay"></div>
  <h1>F1 IS BACK. AND IT’S ALL TO DRIVE FOR.</h1>
  <h3 class="subtitle">
    Test your knowledge with challenging Formula 1 trivia questions. Dive into
    the world of F1 history, drivers, teams, and iconic moments!
  </h3>
</div>

<div class="bg-gray3Pattern" style="padding-top: 5rem !important">
  <div
    [routerLink]="'/drivers'"
    class="container d-flex justify-content-center mb-4"
  >
    <div class="col-6 drivers-section">
      <div class="row">
        <div class="col-3 drivers-section-icon d-flex justify-content-center">
          <img
            src="../../../assets/f1.svg"
            class="img-fluid rounded-top w-50"
            alt=""
          />
        </div>
        <div
          class="col-9 drivers-section-text d-flex justify-content-center align-items-center"
        >
          <p class="w-100">
            Click to explore Every <strong>F1 Driver</strong> in Action!
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container d-flex justify-content-center mt-4">
    <div class="row">
      <div class="col-xl-6 d-flex justify-content-center">
        <div *ngIf="questions && questions.length > 0" class="card">
          <div class="card-header f1-red">
            <div class="row">
              <div class="col-xl-10">
                <h3>F1 Quizz Application</h3>
              </div>
              <div class="col-xl-2 d-flex justify-content-end">
                <button (click)="manageSound()" class="btn btn-outline-light">
                  <i
                    *ngIf="!sound"
                    class="bi bi-volume-mute-fill"
                    style="font-size: 1.5rem"
                  ></i>

                  <i
                    *ngIf="sound"
                    class="bi bi-volume-up-fill"
                    style="font-size: 1.5rem"
                  ></i>
                </button>
              </div>
            </div>
          </div>
          <div class="card-body">
            <p class="card-text">
              {{ quizQuestions[currentQuestion].question }}
            </p>
          </div>
          <ul class="list-group list-group-flush">
            <li
              *ngFor="let option of quizQuestions[currentQuestion].options"
              class="list-group-item"
            >
              <button
                [ngClass]="{ ok: option.isCorrect }"
                class="btn btn-outline-danger hover-success w-100"
                (click)="validateAnswer(option.isCorrect)"
              >
                {{ option.answer }}
              </button>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xl-6 d-flex justify-content-center">
        <div class="f1-lights">
          <div class="back-board"></div>
          <div class="light-strip">
            <div class="light"></div>
            <div class="light"></div>
            <div [ngClass]="{ on: ligths >= 1 }" class="light"></div>
            <div [ngClass]="{ on: ligths >= 1 }" class="light"></div>
          </div>
          <div class="light-strip">
            <div class="light"></div>
            <div class="light"></div>
            <div [ngClass]="{ on: ligths >= 2 }" class="light"></div>
            <div [ngClass]="{ on: ligths >= 2 }" class="light"></div>
          </div>
          <div class="light-strip">
            <div class="light"></div>
            <div class="light"></div>
            <div [ngClass]="{ on: ligths >= 3 }" class="light"></div>
            <div [ngClass]="{ on: ligths >= 3 }" class="light"></div>
          </div>
          <div class="light-strip">
            <div class="light"></div>
            <div class="light"></div>
            <div [ngClass]="{ on: ligths >= 4 }" class="light"></div>
            <div [ngClass]="{ on: ligths >= 4 }" class="light"></div>
          </div>
          <div class="light-strip">
            <div class="light"></div>
            <div class="light"></div>
            <div [ngClass]="{ on: ligths >= 5 }" class="light"></div>
            <div [ngClass]="{ on: ligths >= 5 }" class="light"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="w-100 f1-grey">
  <div class="container p-5 w-50">
    <fieldset class="custom-fieldset">
      <legend>Results</legend>
      <div class="row">
        <div class="col-xl-6">
          <p>You have {{ goods }} correct answers</p>
        </div>
        <div class="col-xl-6">
          <p>You have {{ errors }} errors</p>
        </div>
      </div>
      <div
        [ngClass]="{ non_visibility: message.length == 0 }"
        class="row message p-4 d-flex justify-content-center align-items-center"
      >
        <h3 class="message-text">{{ message }}</h3>
      </div>
    </fieldset>
  </div>
</div>
