<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="#">CompressRom</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="'/home'">Compressor</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/games'">F1</a>
      </li>
    </ul>
  </div>

  <ul
    class="navbar-nav ml-auto mb-2 mb-lg-0"
    style="visibility: hidden; display: none"
  >
    <li class="nav-item">
      <select
        name="select-language"
        id="select-language"
        class="form-select"
        (change)="changeLang($event)"
      >
        <option [selected]="lang === 'en'" value="en">English</option>
        <option [selected]="lang === 'es'" value="es">Español</option>
      </select>
    </li>
  </ul>
</nav>
