<div class="container mb-2">
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div
        *ngFor="let circuit of circuits; let i = index"
        [class]="i === 0 ? 'carousel-item active' : 'carousel-item'"
      >
        <img
          class="d-block w-100"
          src="https://via.placeholder.com/800x400"
          alt="First slide"
        />
        <div class="carousel-caption d-none d-md-block">
          <h5>{{ circuit.raceName }}</h5>
          <p>{{ circuit.time }}</p>
        </div>
      </div>
    </div>
    <a
      class="carousel-control-prev"
      href="#carouselExampleControls"
      role="button"
      data-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a
      class="carousel-control-next"
      href="#carouselExampleControls"
      role="button"
      data-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
